<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Contacto </title>
    </head>
    <link rel="stylesheet" href="../css/estilos.css">
    <body>
        <header>
            <img src="../images/españa.png" alt="Logo de la selección española" height="150px" width="150px">
            <h1> Selección española </h1>
            
        </header>
        <nav>
            <div class="menu-navegador">
               <a href="../index.html"> <b> Inicio </b> </a>
               <a href="portfolio.html"> <b> Galería </b> </a>
               <a href="presupuesto.html"> <b> Presupuestos </b> </a>
               <a href="contacto.html" class="actual"> <b> Contacto </b> </a>
            </div>
        </nav>
        <section class="contenedor-contacto">
            <div class="titulo-contacto">
                <h2> Contacto </h2>
            </div>
            <div class="contenido-contacto">
                <img src="../images/ubicacionrfef.png" alt="Ubicación de la sede la selección española de fútbol" width="570" height="400">
                <div class="texto-contacto">
                    <p> Nombre de la empresa: Selección Española de Fútbol <br>
                        CIF: Q-2878017-I <br>
                        Domicilio social: C/ Mateo Inurria, nº 26, 28036 Madrid <br>
                        Teléfono: +34 91 495 98 00 <br>
                        E-mail: rfef@rfef.es <br>
                        Inscripción de registro: Registro de entidades deportivas del Consejo Superior de Deportes con el número 19. <br>
                        Solicitud de acreditaciones: prensa@rfef.es <br>
                        Solicitud de puestos de trabajo: organizacionypersonas@rfef.es
                    </p>
                </div>
            </div>
        </section>
        <footer>
            <p> Domicilio social: C/ Mateo Inurria, nº 26, 28036 Madrid </p><br>
            <p> &copy; Queda prohibida la reproducción total o parcial del contenido sin autorización expresa de la Selección Española de Fútbol. </p> <br>
            <p> Siguenos en: </p> <br>
            <a href="https://x.com/SEFutbol?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"> <img src="../images/x.png" alt="Logo de X" height="30px" width="30px"> </a>
            <a href="https://www.facebook.com/SeFutbol/?locale=es_ES"> <img src="../images/facebook.png" alt="Logo de Facebook" height="30px" width="30px"> </a>
            <a href="https://www.instagram.com/sefutbol/?hl=es"> <img src="../images/instagram.png" alt="Logo de Instagram" height="30px" width="30px"> </a>
            <a href="https://www.youtube.com/@Sefutbol"> <img src="../images/youtube.png" alt="Logo de Youtube" height="30px" width="40px"> </a>
        </footer>
    </body>
</html>