<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Galería </title>
    </head>
    <link rel="stylesheet" href="../css/estilos.css">
    <body>
        <header>
            <img src="../images/españa.png" alt="Logo de la selección española" height="150px" width="150px">
            <h1> Selección española </h1>
            
        </header>
        <nav>
            <div class="menu-navegador">
                <a href="../index.html" > <b> Inicio </b> </a>
                <a href="portfolio.html" class="actual"> <b> Galería </b> </a>
                <a href="presupuesto.html"> <b> Presupuestos </b> </a>
                <a href="contacto.html"> <b> Contacto </b> </a>
            </div>
        </nav>
        <section class="contenedor-galeria">
            <div class="titulo-galeria">
                <h1> Últimos campeones de Europa </h1> <br>
                <h4> Estos son los 26 jugadores de España que se proclamaron campeones de la Eurocopa 2024 el pasado mes de julio en Berlín </h4>
            </div>
            <div class="contenido-galeria"> 
                <div><img src="../images/raya.jpg" alt="David Raya" height="250px" width="280px"></div>
                <div><img src="../images/simon.jpg" alt="Unai Simón" height="250px" width="280px"></div>
                <div><img src="../images/remiro.jpg" alt="Alex Remiro" height="250px" width="280px"></div>
                <div><img src="../images/grimaldo.jpg" alt="Alejandro Grimaldo" height="250px" width="280px"></div>
                <div><img src="../images/carvajal.jpg" alt="Dani Carvajal" height="250px" width="280px"></div>
                <div><img src="../images/lenormand.jpg" alt="Robin Le Normand" height="250px" width="280px"></div>
                <div><img src="../images/vivian.jpg" alt="Dani Vivian" height="250px" width="280px"></div>
                <div><img src="../images/cucurella.jpg" alt="Marc Cucurella" height="250px" width="280px"></div>
                <div><img src="../images/laporte.jpg" alt="Aymeric Laporte" height="250px" width="280px"></div>
                <div><img src="../images/nacho.jpg" alt="Nacho Fernández" height="250px" width="280px"></div>
                <div><img src="../images/navas.jpg" alt="Jesús Navas" height="250px" width="280px"></div>
                <div><img src="../images/zubimendi.jpg" alt="Martín Zubimendi" height="250px" width="280px"></div>
                <div><img src="../images/rodri.jpg" alt="Rodri Hernández" height="250px" width="280px"></div>
                <div><img src="../images/olmo.jpg" alt="Dani Olmo" height="250px" width="280px"></div>
                <div><img src="../images/merino.jpg" alt="Mikel Merino" height="250px" width="280px"></div>
                <div><img src="../images/baena.jpg" alt="Alex Baena" height="250px" width="280px"></div>
                <div><img src="../images/pedri.jpg" alt="Pedri" height="250px" width="280px"></div>
                <div><img src="../images/fabian.jpg" alt="Fabián Ruiz" height="250px" width="280px"></div>
                <div><img src="../images/fermin.jpg" alt="Fermín López" height="250px" width="280px"></div>
                <div><img src="../images/williams.jpg" alt="Nico Williams" height="250px" width="280px"></div>
                <div><img src="../images/oyarzabal.jpg" alt="Mikel Oyarzabal" height="250px" width="280px"></div>
                <div><img src="../images/yamal.jpg" alt="Lamine Yamal" height="250px" width="280px"></div>
                <div><img src="../images/morata.jpg" alt="Álvaro Morata" height="250px" width="280px"></div>
                <div><img src="../images/ayoze.jpg" alt="Ayoze Pérez" height="250px" width="280px"></div>
                <div><img src="../images/ferran.jpg" alt="Ferran Torres" height="250px" width="280px"></div>
                <div><img src="../images/joselu.jpg" alt="Joselu Mato" height="250px" width="280px"></div>
            </div>
        
        </section>
        <footer>
            <p> Domicilio social: C/ Mateo Inurria, nº 26, 28036 Madrid </p><br>
            <p> &copy; Queda prohibida la reproducción total o parcial del contenido sin autorización expresa de la Selección Española de Fútbol. </p> <br>
            <p> Siguenos en: </p> <br>
            <a href="https://x.com/SEFutbol?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"> <img src="../images/x.png" alt="Logo de X" height="30px" width="30px"> </a>
            <a href="https://www.facebook.com/SeFutbol/?locale=es_ES"> <img src="../images/facebook.png" alt="Logo de Facebook" height="30px" width="30px"> </a>
            <a href="https://www.instagram.com/sefutbol/?hl=es"> <img src="../images/instagram.png" alt="Logo de Instagram" height="30px" width="30px"> </a>
            <a href="https://www.youtube.com/@Sefutbol"> <img src="../images/youtube.png" alt="Logo de Youtube" height="30px" width="40px"> </a>
        </footer>
    </body>
</html>