<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Presupuestos </title>
    </head>
    <link rel="stylesheet" href="../css/estilos.css">
    <body class="body-formulario">
        <header>
            <img src="../images/españa.png" alt="Logo de la selección española" height="150px" width="150px">
            <h1> Selección española </h1>
            
        </header>
        <main>
            <nav>
                <div class="menu-navegador">
                   <a href="../index.html" > <b> Inicio </b> </a>
                   <a href="portfolio.html"> <b> Galería </b> </a>
                   <a href="presupuesto.html" class="actual"> <b> Presupuestos </b> </a>
                   <a href="contacto.html"> <b> Contacto </b> </a>
                </div>
            </nav>
            <section class="contenedor-formulario">
                <div class="titulo-formulario">
                    <h2> Rellena el formulario para conseguir las entradas para el próximo partido de España en Valencia </h2>
                </div>
                <form class="contenido-formulario">
                    <label for="name"> Nombre: </label>
                    <input type="text" id="name" name="name" required placeholder="Tu nombre">
                    <label for="email"> Email: </label>
                    <input type="email" id="email" name="email" required placeholder="Tu correo">
                    <label for="telefono"> Teléfono: </label>
                    <input type="tel" id="telefono" name="telefono" required placeholder="Tu teléfono">
                    <label for="mensaje"> Solicite más información: </label>
                    <textarea name="mensaje" id="mensaje" rows="4" required placeholder="Escribe tu mensaje"></textarea> </textarea>
                   <div class="privacidad">
                    <input type="checkbox" id="privacidad" required value="privacidad"> <label for="privacidad"> Acepto la política de privacidad de la empresa </label>
                   </div>
                    <input type="submit" value="Enviar">
                </form>
            </section>
        </main>
        <footer>
            <p> Domicilio social: C/ Mateo Inurria, nº 26, 28036 Madrid </p><br>
            <p> &copy; Queda prohibida la reproducción total o parcial del contenido sin autorización expresa de la Selección Española de Fútbol. </p> <br>
            <p> Siguenos en: </p> <br>
            <a href="https://x.com/SEFutbol?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"> <img src="../images/x.png" alt="Logo de X" height="30px" width="30px"> </a>
            <a href="https://www.facebook.com/SeFutbol/?locale=es_ES"> <img src="../images/facebook.png" alt="Logo de Facebook" height="30px" width="30px"> </a>
            <a href="https://www.instagram.com/sefutbol/?hl=es"> <img src="../images/instagram.png" alt="Logo de Instagram" height="30px" width="30px"> </a>
            <a href="https://www.youtube.com/@Sefutbol"> <img src="../images/youtube.png" alt="Logo de Youtube" height="30px" width="40px"> </a>
        </footer>
    </body>
</html>